* {
    color: white;
}

body { 
    background-color:#cccc99;
    /* background-image: url("")       */
}

/* div {
    background-color: red;
}

#content {
    background-color: green;
}

.quotation {
    background-color: #0000ff;
} */

p {
    font-size: 1.5em;
    border-style: solid;
    border-color: black;
    border-width: 2mm;
    width: 200px;
}

div {
    width: 50%;
}